<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ .Site.Title }} - {{ .Site.Params.description }}</title>

{{/* Meta Description */}}
<meta name="description" content="{{ .Site.Params.description }}">

{{/* Author */}}
<meta name="author" content="{{ .Site.Params.author }}">

{{/* Open Graph */}}
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ " profile.jpg" | absURL }}">

{{/* Twitter Card */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Site.Title }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">

{{/* Canonical URL */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Favicon */}}
<link rel="icon" href="/favicon.ico" type="image/x-icon">

{{/* CSS */}}
{{ $css := resources.Get "css/main.css" | minify }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

{{/* Fonts */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap"
    rel="stylesheet">